body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}

.header {
    background: url("picture/picture11.jpg");
    background-repeat: no-repeat;
    background-position: 0px, 50px;
}

.backend {
    background-image: url('public/picture/picture1.jpg');
}

.bg-PostsView {
    background-color: #0a0e19;
}

.navbar-brand,
.title {
    font-family: 'Miss Fajardose', cursive;
    font-size: 3.2em;
    font-weight: bold;
}

.nav-link {
    font-family: 'Cinzel', serif;
    color: darkblue;
}

.news-title {
    font-family: 'Cinzel', serif;
    color: darkblue;
}

.news {
    font-family: 'Inconsolata', monospace;
}

.index-title {
    color: #fdf3ac;
    height: 100px;
}

.index {
    column-count: 4;
    column-gap: 0.5em;
    column-rule-color: #fdf3ac;
    column-rule-width: 1px;
    column-rule-style: solid;
    height: 280px;
    color: #fdf3ac;
    font-size: 1.2em;
    list-style-type: none;
}

.index li:hover {
    background-color: #0a0e19;
    color: #6c9bf3;
}

.extract {
    background: url('picture/picture15.jpg');
    margin-bottom: 20px;
}

.alert {
    font-size: 1.2em;
    color: red;
}

.success {
    font-size: 1.2em;
    color: green;
}

form {
    max-width: 200px;
}

h2 {
    text-align: center;
}

.title {
    height: 170px;
}

p * {
    display: block;
}

label {
    display: inline-block;
    width: 300px;
}

input[type=email] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 1px solid #333;
    margin: 0;
    font-family: inherit;
    font-size: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Composition pour les champs invalides */
input:invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus:invalid {
    outline: none;
}

/* Mise en forme pour les erreurs */
.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

.button {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid lightgrey;
    border-radius: 6px;
    background-color: white;
    width: 75px;
    padding: 2px 6px 2px 6px;
    font-family: arial;
    font-size: 70%;
    text-decoration: none;
    color: black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.appear {
    display: block;
}

/* Mise en forme de l'editeur de tetxe WYSIWYG */
#newPostInForm,
#modifPostInForm {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    padding: 5px;
    overflow: auto;
}

#newPostHTML,
#newPostPlainText,
#modifPostHTML,
#modifPostPlainText {
    display: none;
}
