/***********************************************************************/
/* Généralités */

main {
    margin-top: 115px;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

p * {
    display: block;
}

h2 {
    text-align: center;
}

h3 {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 300px;
}

.active {
    display: flex;
}

.hidden {
    display: none;
}

.appear {
    display: block;
}

.message {
    display: flex;
    height: 60px;
}

/***********************************************************************/
/* Généralités couleurs */

.delete,
input[type='submit'],
.red {
    color: red;
    font-weight: bold;
}

.delete:hover {
    color: darkred;
}

.black {
    color: black;
}

.blue {
    background-color: #2E598E;
    color: white;
}

.blue:hover {
    background-color: #2E598E;
    color: #f6bf7c;
}

.white {
    color: white;
}

.yellow {
    color: #fdf3ac;
}

.orange {
    color: orange;
}

.bg-darkgreen {
    background-color: #19444B;
}

.green {
    color: #82EF9E;
}

/***********************************************************************/
/* Navbar */

.pos-f-t {
    display: none;
}

.navbar-brand,
.title-slider1,
.title-slider {
    font-family: 'Miss Fajardose', cursive;
    font-size: 3.2em;
    font-weight: bold;
}

.nav-link {
    font-family: 'Cinzel', serif;
    color: darkblue;
}

.nav > li > a.dropdown-toggle:focus {
    color: darkblue;
    background-color: white;
}

.nav > li > .dropdown-menu > a.dropdown-item {
    color: darkblue;
    background-color: white;
}

.nav > li > .dropdown-menu > a.dropdown-item:hover {
    background-color: lightgrey;
}

/***********************************************************************/
/* Footer */

footer {
    margin-top: 20px;
}

.pied-page {
    height: 100px;
}

.social-link {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

/***********************************************************************/
/* Posts View Slider */

.title-slider {
    position: absolute;
    top: 0px;
    margin-top: 20px;
    padding-right: 80px;
    text-align: right;
}

.text-slider {
    position: absolute;
    width: inherit;
    bottom: 300px;
    text-align: center;
    font-family: 'Cinzel', serif;
}

.index {
    position: absolute;
    width: inherit;
    bottom: 100px;
    padding-top: 20px;
    column-width: 180px;
    column-rule-color: #fdf3ac;
    column-rule-width: 1px;
    column-rule-style: solid;
    height: 200px;
    font-size: 1.2em;
    overflow: auto;
}

.index li:hover {
    background-color: #0a0e19;
    color: #6c9bf3;
}

/***********************************************************************/
/* Login View */

.loginView {
    max-width: 1080px;
    background-repeat: no-repeat;
    margin-top: 0px;
}

.login,
.newMember {
    min-height: 600px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.login {
    background: url("picture/picture6.jpg");
    color: #B5C9CA;
}

.newMember {
    background: url("picture/picture3.jpg");
    color: #B6B6B6;
}

.login-brand {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.login-title,
.member-title {
    padding-top: 30px;
    text-align: center;
}

.login-form {
    width: 20%;
    margin-left: 10%;
}

.login-form input {
    width: 70%;
}

/***********************************************************************/
/* Editeur de tetxe WYSIWYG */

#newPostInForm,
#modifPostInForm {
    height: 500px;
    border: 3px solid black;
    padding: 5%;
    background-color: white;
    overflow: auto;
}

#newPostHTML,
#newPostPlainText,
#modifPostHTML,
#modifPostPlainText {
    display: none;
}

#postInForm {
    background-color: white;
}

/***********************************************************************/
/* Posts View Extracts */

.pagination,
.posts-title,
.news-title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.title-container {
    height: 100px;
}

.page-link:hover {
    color: black;
    background-color: white;
    font-weight: normal;
}

.page-link {
    display: inline;
}

.posts-view {
    padding: 60px;
    background: url('picture/picture2.jpg');
    background-attachment: fixed;
}

.posts-extracts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extract {
    margin: 20px;
}

.news-title {
    font-family: 'Cinzel', serif;
}

.news {
    font-family: 'Inconsolata', monospace;
}

.container-fluid {
    margin-bottom: 20px;
}

/***********************************************************************/
/* Signaled comments */

#comments-signaled {
    padding-top: 20px;
    background-attachment: fixed;
}

.comments-content-signaled {
    border: 5px solid orange;
    padding: 6%;
}

/***********************************************************************/
/* Post view */

.post-view {
    padding: 5%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: url('picture/picture2.jpg');
    background-attachment: fixed;
}

.post-content {
    max-height: 1050px;
    padding: 10%;
    margin-bottom: 50px;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
}

.boutons {
    margin-bottom: 20px;
    margin-right: 0px;
}

.comments-content {
    max-height: 500px;
    padding: 50px;
    margin-bottom: 20px;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
}

/***********************************************************************/
/* Publishing view */

#publishing {
    padding-left: 10%;
    padding-right: 10%;
    background: url('picture/picture8.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.publishing-text {
    height: 900px;
    margin: 10%;
    padding: 5%;
    background: rgba(250, 250, 250, 0.4);
    background-attachment: fixed;
    overflow: auto;
}

/***********************************************************************/
/* Members Edit view */

#members,
.delete-member {
    padding: 40px;
    width: 1080px;
}

#members {
    background: url('picture/picture10.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0px;
}

.delete-member {
    height: 200px;
    background: url('picture/picture14.jpg');
    background-position: 0px, 0px;
    background-repeat: no-repeat;
}

#member {
    padding: 40px;
    background: url('picture/picture9.jpg');
    background-repeat: no-repeat;
    height: 750px;
    margin-bottom: 0px;
    color: red;
}

.member-text,
.member-text2,
.member-input {
    color: #8d0d00;
    font-weight: bold;
}

.member-text {
    background-color: #d5bab1;
    border: 5px solid #8d0d00;
    border-radius: 10px;
    border-style: ridge;
    width: 270px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.member-text2 {
    background-color: #d5bab1;
    border-radius: 5px;
    width: 240px;
    padding: 2px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.member-input {
    border-radius: 5px;
    width: 170px;
    border-color: red;
    height: 25px;
}

/***********************************************************************/
/* Composition pour les champs invalides formulaire */

input:invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus:invalid {
    outline: none;
}

input[type=email] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 1px solid #333;
    margin: 0;
    font-family: inherit;
    font-size: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

.button {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid lightgrey;
    border-radius: 6px;
    background-color: white;
    width: 75px;
    padding: 2px 6px 2px 6px;
    font-family: arial;
    font-size: 70%;
    text-decoration: none;
    color: black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/***********************************************************************/
/* Contact view */

.contact-view {
    padding: 30px;
    background: url('picture/picture12.jpg');
    background-position: 300px, 0px;
    height: 750px;
}

.contact {
    background-color: black;
    opacity: 0.7;
    border: 2px solid white;
    font-family: 'Inconsolata', monospace;
    color: #FBA363;
}

.contact-textarea {
    height: 400px;
}

.contact:focus {
    background-color: white;
    opacity: 1;
    border: 2px solid white;
    color: black;
}

/***********************************************************************/
/* Exit View */

.exit {
    background: url("picture/picture13.jpg");
    background-repeat: no-repeat;
    text-align: center;
    width: 1050px;
    height: 700px;
    color: #FAFCEE;
}

.exit-text {
    position: relative;
    margin: auto;
    left: -20px;
    top: -60px;
}

/***********************************************************************/
/* Error view */

.error-view {
    padding: 30px;
    background: url('picture/picture14.jpg');
    height: 500px;
}

.noscript {
    position: fixed;
    width: 600px;
    min-width: 380px;
    left: 50%;
    top: 50px;
    margin-left: -300px;
    padding: 20px;
    background: black;
    z-index: 201;
    border: 10px solid #ff3c41;
}

.noscript-title {
    font-weight: 700;
    font-size: 32px;
    margin: 0 0 10px 0;
    line-height: 1.2;
}

.noscript p {
    color: #9396a4;
    margin: 0 0 25px 0;
}

.noscript a {
    text-decoration: none;
    color: #76daff;
}

input.modal-closing-trick {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.noscript-button {
    background: #36383f;
    color: white;
}

label[for] {
    cursor: pointer;
}

.preload * {
    -webkit-transition: none !important;
    transition: none !important;
}

.noscript::before,
.noscript::after {
    content: '';
    display: table;
}

.noscript::after {
    clear: both;
}

/* ======================================================================= */
/* ======================================================================= */
/*                           Medias Quereies                               */
/* ======================================================================= */
/* ======================================================================= */

@media all and (max-width: 768px) {

    /***********************************************************************/
    /* Généralités */

    main {
        margin-top: 50px;
    }

    container {
        width: auto;
    }

    /* ==================================================================== */
    /* Login View */

    .login,
    .newMember {
        min-height: 0px;
    }

    .login,
    .newMember {
        background-position: right -200px top -50px;
    }

    .newMember {
        background-position: right -350px top -50px;
    }

    .login-brand {
        font-size: 3em;
    }

    /***********************************************************************/
    /* Navbar */

    .pos-f-t {
        display: block;
        margin: auto;
    }

    .navbar-toggler {
        background-color: rgb(68, 150, 126);
    }

    .navbar-expand-lg {
        display: none;
    }

    .navbar-brand {
        font-size: 1.5em;
        color: aliceblue;
    }

    /***********************************************************************/
    /* Posts View Extracts */

    .posts-view {
        padding: 5%;
    }

    .comments-content {
        padding: 5%;
    }

    .post-content {
        max-height: 400px;
    }

    /***********************************************************************/
    /* Publishing view */

    #publishing {
        padding: 0;
    }

    .publishing-text {
        height: 500px;
    }

    /***********************************************************************/
    /* Members Edit view */

    #members,
    .delete-member,
    .member-text {
        width: auto;
    }

    #members {
        padding: 20px;
    }

    .deleteMember {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    /***********************************************************************/
    /* Contact view */

    .contact-view {
        background-size: cover;
        background-position: center;
        height: auto;
    }

    /***********************************************************************/
    /* Exit View */

    .exit {
        background-size: cover;
        background-position: center;
        width: auto;
        height: 500px;
    }

    .return-button {
        left: 10px;
        top: 200px;
    }

    /***********************************************************************/
    /* Error View */

    .error-view {
        background-size: cover;
        background-position: center;
    }

}
